In [ ]:
# Question 1:In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
#Answer:     
    
#*   - Multliplication Mathematical Expression
'hello' - String Value
-87.8 - Integer Value
-   - Subtraction Mathematical Expression
/   - Division Mathematical Expression
+   - Addition Mathematical Expression
6   - Integer Value

In [ ]:
#Question 2: What is the difference between string and variable?
Answer: String is a Datatype and Variable is an information. We can store the string type data in a variable.
    
    E.g : A = " This is my 1st Assignment".
        Here A is Variable 
         and " This is my 1st Assignment" is a string type data stored in a A variable.

In [ ]:
#Question 3: Describe three different data types.
Answer :
    
    3 different types of data types:
        1. Integer, Float, Complex : These are numeric data types. Eg: Int : 5, Float : 5.0, Complex : 2 + 5j 
        2. String : In String datatypes we can put text. Eg : " This is a String datatype"
        3. Boolean : True or False

In [ ]:
#Question 4 :What is an expression made up of? What do all expressions do?
Answer : 
    Expressions are made up of operators and operands.
    All the expressions give us some value also you can say that expression combines values and operators and always evaluates it to a single value.
    
    for eg. a = 10
            b = 5
            a+b-5 = 10, This is an example of expression.

In [ ]:

#Question 5: This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans : An expression is a combination of values,variable and operators which will always return some values
eg . 

"""its an expression"""
spam = 10, 

and

""" this is a statement"""
spam = 10 
print(spam) 


A statement can also be an expression.

In [ ]:
#Q. 6 After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Ans

In [4]:
bacon = 22
bacon +1

23

In [5]:
bacon  # untill we assign a variable to bacon + 1 , bacon will store the value 22.

22

In [ ]:
#The value will be 22 only because we haven't declared any variable for bacon + 1. If bacon = bacon +1 we have declare then the value would be 23.

In [ ]:
#Q7 .What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
Answer :

In [6]:
'spam' + 'spamspam'  # concatination

'spamspamspam'

In [7]:
'spam'*3   # Multiplication

'spamspamspam'

In [ ]:
Q 8 . Why is eggs a valid variable name while 100 is invalid?

Answer : Eggs is a valid name while 100 is invalied because the variable name should be names and 100 is a value.Variables are containers for values. They are not values in themselves. You cannot give a variable a name that is equal to a value. Variables cannot be strings, booleans, or any other data type
eg : Below

In [6]:
""" Eggs here is a variable name and 100 is a value"""
eggs = 100

In [2]:
"""Here we have put a value as a variable """
100 = b

SyntaxError: cannot assign to literal (1050658953.py, line 2)

In [ ]:
#Q 9 . What three functions can be used to get the integer, floating-point number, or string version of a value?
Answer :

int() - for Integer version.
float() - for floating version.
str() - for string version of a value.

In [ ]:
#Q 10 . Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans : Here we have tried to concatenate integer with the string variable so that is why it is giving us an error. we need to change the data type of int to str by using the 99 in strings '99'. it will solve the error.

below is an example:

In [8]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [9]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'